<ion-content style="--background: var(--ion-color-content-bg); --color: var(--ion-color-content-text);">
  <div class="app-header">
    <h1 id="tituloapp">SkeletonAPP</h1>
    <p id="titulocomienzo">Crea tu cuenta</p>
  </div>

  <div class="seccion-bienvenida">
    <h1 id="titulobienvenidalogin">Registro de Usuario</h1>
  </div>

  <ion-list>
    <ion-item>
      <ion-input label="Usuario" placeholder="Ingrese su usuario" [(ngModel)]="data.usuario" fill="outline"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" label="Correo Electrónico" placeholder="Ingrese su correo electrónico" [(ngModel)]="data.email" fill="outline"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Contraseña" placeholder="Ingrese su contraseña" [(ngModel)]="data.password" fill="outline"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Confirmar Contraseña" placeholder="Confirme su contraseña" [(ngModel)]="data.confirmPassword" fill="outline"></ion-input>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="registrarse()" style="--background: var(--ion-color-button-bg); --color: var(--ion-color-button-text);">
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

