<ion-header>
  <ion-toolbar style="--background: var(--ion-color-header-bg); --color: var(--ion-color-header-text);">
    <ion-title>Modificar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: var(--ion-color-content-bg); --color: var(--ion-color-content-text);">
  <div class="seccion-bienvenida">
    <h1>Modificar Perfil</h1>
  </div>

  <ion-list>
    <ion-item>
      <ion-input label="Usuario" placeholder="Ingrese su usuario" fill="outline"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Contraseña" placeholder="Ingrese su contraseña" fill="outline"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Nombre" placeholder="Ingrese su nombre" fill="outline"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Apellido" placeholder="Ingrese su apellido" fill="outline"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Nivel de Educación" fill="outline" placeholder="Seleccione Nivel">
        <ion-select-option value="primaria">Primaria</ion-select-option>
        <ion-select-option value="secundaria">Secundaria</ion-select-option>
        <ion-select-option value="universitaria">Universitaria</ion-select-option>
        <ion-select-option value="postgrado">Postgrado</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-datetime label="Fecha de Nacimiento" display-format="DD/MM/YYYY" placeholder="Seleccione Fecha"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar style="--background: var(--ion-color-footer-bg); --color: var(--ion-color-footer-text);">
    <ion-title style="text-align: center;">App desarrollada por ICJG</ion-title>
  </ion-toolbar>
</ion-footer>

