<ion-header>
  <ion-toolbar>
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center-text">
    <h2>¡Bienvenido!</h2>
  </div>
  
  <form>
    <ion-item class="custom-item">
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input placeholder="Ingresa tu usuario" type="text"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input placeholder="Ingresa tu contraseña" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full">Ingresar</ion-button>
  </form>

  <p class="center-text">
    <a href="#">Crea tu cuenta gratis</a>
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>

