.center-text {
    text-align: center;
    margin-bottom: 15px;
    color: var(--ion-color-skeleton-text); /* Asegura que el texto sea claro */
  }
  
  .custom-item {
    --background: transparent; /* Quita el fondo por defecto */
    --color: var(--ion-color-skeleton-text); /* Texto en color claro */
    --placeholder-color: var(--ion-color-skeleton-accent); /* Color de placeholder */
  }
  
  ion-button {
    --background: var(--ion-color-skeleton-accent);
    --color: var(--ion-color-skeleton-bg);
  }
  